<!DOCTYPE html>
<html>
<head>
  <title>Rankmi excel review</title>
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>

  <%= stylesheet_link_tag    "rankmi_excel_review/application", media: "all" %>
</head>
<body>

<%= yield %>

</body>
</html>
